{
  "settings": {
    "analysis": {
      "analyzer": {
        "german_analyzer": {
          "tokenizer": "standard",
          "filter": [
            "lowercase",
            "igib_dictionary_decompounder",
            "light_german_stemmer",
            "unique"
          ]
        },
        "german_exact": {
          "tokenizer": "standard",
          "filter": [
            "lowercase"
          ]
        }
      },
      "filter": {
        "igib_dictionary_decompounder": {
            "type": "dictionary_decompounder",
            "word_list": ["lehrstelle", "börse"]
        },
        "light_german_stemmer": {
          "type": "stemmer",
          "language": "light_german"
        }
      }
    }
  }
}