.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
venv/
htmlcov/
include/
lib/
./local/
dist/*
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
pyvenv.cfg
report.html
.vscode/
.tox
.python-version
reports/
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective
